/*
!/.gitignore
!/.gitmodules
!/src
!/gradle
!/gradlew
!/gradlew.bat
!/README.md
!/License.txt
!/LICENSE
!/build.gradle
!/build.properties
!/build.bat
!/build.sh
!/gradle.properties
!/webresources
!/.gitlab-ci.yml
!/.travis.yml
!/changelog.gradle
.DS_Store